.title > input {
  width: 100%;
}

.title {
  margin-bottom: 30px;
}

.content {
  margin-top: 20px;
}
.container {
  background-color: white;
  border: solid #ccc;
  border-radius: 10px;
}
form {
  width: 95%;
  margin: auto;
}
