.pin-off {
	background-image: url("../img/pin-icon-off.png");
	height: 24px;
	width: 24px;
	display: inline-block ;
	overflow: hidden;
	margin-left: 5px;
}

.pin-on {
	background-image: url("../img/pin-icon-on.png");
	height: 24px;
	width: 24px;
	display: inline-block ;
	overflow: hidden;
	margin-left: 5px;
}

.star-off {
	background-position: 0 -120px;
	text-decoration: none;
	height: 30px;
	width: 46px;
	display: inline-block;
	background-image: url("../img/sprites.svg"), none;
	background-size: initial;
	overflow: hidden;
	background-repeat: no-repeat;
}

.star-on {
	background-position: -40px -120px;
	text-decoration: none;
	height: 30px;
	width: 46px;
	display: inline-block;
}

#title_id {
	display: inline-block;
	font-weight: bold;
}
.notice {
	min-height: 200px;
}
.container {
	background-color: white;
	border: solid #ccc;
	border-radius: 10px;
	padding-bottom: 20px;
}
.content {
	
	font-size: 20px;
}

.content > p {
	/* margin-top: 20px; */
	display: inline-block;
	margin-left: 15px;
}
.comment {
	margin-left: 70px;
	margin-right: 70px;
}
.notice_info {
	display: inline-block;
	margin-left: 10px;
}
#comment-write {
	float: left;
	width: 95%;
}
#submit {
	float: right;
	padding: 3px;
	width: 5%;
	color: white;
	background-color: rgb(92, 187, 230);
}

.free_btn {
	display: inline-block;
	float: right;
	margin-left: 50px;
	margin-top: 25px;
	margin-right: 60px;
}

.free_btn > * {
	background-color: white;
	color: gray;
}

.free_btn *:hover {
	color: rgb(0, 154, 211);
}

.comment_btn {
	display: inline-block;
	float: right;
}

.comment_btn > * {
	background-color: white;
	color: gray;
}

.comment_btn *:hover {
	color: rgb(0, 154, 211);
}
