.title {
  width: 88%;
}
.index {
  width: 10%;
  border-right: 1px solid #dfdfdf;
}
.button {
  background-color: rgb(208,44,60);
  color: white;
  margin-left: -19px;
  width: 12%;
}
.button:hover {
  color: white;
}
.list-wrapper *{
  display: inline-block;
}
.title * {
  width: 100%;
}
#list {
  list-style: none;
  padding-left: 0;
  background-color: white;
}
.list-item *{
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}
.list-item .index, .list-item a.button{
  text-align: center;
}
.createBtn {
  margin: 0 auto 20px auto;
  display: block;
  width: 120px;
}

.table {
  background: white;
  margin:auto;
  width: 85%;
}

th{
  margin: auto;
  margin-right: 10px;
  margin-left: 10px;
}

tr{
  font-size: 18px;
}

.OPEN {
  border: 1px solid #428bca;
  color: #428bca;
  padding: 5px;
  display: inline-flex;
}

.CLOSE {
  border: 1px solid #d9534f;
  color: #d9534f;
  padding: 5px;
  display: inline-flex;

}
