.lecture {
  height: 20%;
  background-color: rgb(0,154,211);

}
#submit {
  height: 100%;
  vertical-align: bottom;
  border: none;
  background-color: rgb(0,154,211);
  color: white;
}
#input {
  height: 100%;
  font: initial;
  width: 344px;
  border-top: 1px solid;
  border-left: none;
}
.thread:nth-child(odd) {
  border: 1px solid #337ab7;
  border-radius: 5px;
  padding: 5px;
  color:white;
  background-color: rgb(0,154,211);
  margin-bottom: 10px;
}

.thread:nth-child(2n) {
  /*border: 1px solid ;*/
  border-radius: 5px;
  padding: 5px;
  color:black;
  background-color: #f2f2f2;
}

.threads {
  height: 80%;
  padding: 20px;
  background-color: white;
}
.sidebar {
  height: 100%;
  border-left: 1px solid;
  float: right;
  width: 400px;
  /*background-color: rgb(0,154,211);*/
  background-color: #dfdfdf;

}
html {
  height: 100%;
}
body {
  height: 100%;
}
