a.h2{
	color: black;
}
a.h2:hover{
	text-decoration: none;
}
ul{
	list-style: none;
}
span.title{
	background-color: white;
	display: inline-block;
	width:75%;
	padding-left: 10px;
}
span.date{
	background-color: white;
	display: inline-block;
	width: 24%;
	text-align: center;
}
.col-lg-6{
	padding-left: 25px;
	padding-right: 25px;
}
.col-lg-6 > ul{
	padding: 0;
}
.list a{
	text-decoration: none;
	color: black;
}
