.pin-off {
	background-image: url("../img/pin-icon-off.png");
	height: 24px;
	width: 24px;
	display: inline-block;
	overflow: hidden;
	margin-left: 5px;
}

.pin-on {
	background-image: url("../img/pin-icon-on.png");
	height: 24px;
	width: 24px;
	display: inline-block;
	overflow: hidden;
	margin-left: 5px;
}

#title_id {
	display: inline-block;
	font-weight: bold;
	margin-left: 15px;
}
.notice {
	min-height: 200px;
}
.container {
	background-color: white;
	border: solid #ccc;
	border-radius: 10px;
	padding-bottom: 20px;
}
.content {
	margin-left: 50px;
	font-size: 20px;
}
.comment {
	margin-left: 70px;
	margin-right: 70px;
}
.notice_info {
	display: inline-block;
	margin-left: 10px;
}

.notice_btn {
	display: inline-block;
	float: right;
	margin-left: 50px;
	margin-top: 25px;
	margin-right: 60px;
}

.notice_btn > * {
	background-color: white;
	color: gray;
}

.notice_btn *:hover {
	color: rgb(0, 154, 211);
}

.comment_btn {
	display: inline-block;
	float: right;
}

.comment_btn > * {
	background-color: white;
	color: gray;
}

.comment_btn *:hover {
	color: rgb(0, 154, 211);
}

#comment-write {
	float: left;
	width: 95%;
}
#submit {
	float: right;
	padding: 3px;
	width: 5%;
	color: white;
	background-color: rgb(92, 187, 230);
}

.vote {
	margin-left: 50px;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	width: 60%;

}

.vote-name {
	font-size: 20px;
	display: inline-block;
	margin-left: 10px;
}

.vote-period {
	color: #aaa;
	display: inline-block;
	float: right;
	vertical-align: baseline;
}

.divider {
	height: 1px;
	width: 100%;
	background: #ccc;
	margin-top: 5px;
	margin-bottom : 10px;
}

.vote-item-single > ul > li {
	margin-bottom: 5px;
	list-style-type : none;
}

.vote-item-multi > ul > li {
	margin-bottom: 5px;
	list-style-type: none;
}

.vote-item > li > input {
	margin-right: 10px;
}


.votebtn {
	background-color: white;
	border: 1px solid #337ab7;
	border-radius: 5px;
	padding: 8px;
	text-decoration: none;
	color: #337ab7;
	line-height: initial;
}

.votebtn:hover {
	text-decoration: none;
}

.formargin {
	margin-left: 250px;
}

#chart {
	display: none;
}
