.pin-off {
	background-image: url("../img/pin-icon-off.png");
	height: 24px;
	width: 24px;
	display: inline-block;
	overflow: hidden;
	margin-left: 5px;
}

.pin-on {
	background-image: url("../img/pin-icon-on.png");
	height: 24px;
	width: 24px;
	display: inline-block;
	overflow: hidden;
	margin-left: 5px;
}

#title_id {
	display: inline-block;
	font-weight: bold;
	margin-left: 15px;
}
.notice {
	min-height: 200px;
}
.container {
	background-color: white;
	border: solid #ccc;
	border-radius: 10px;
	padding-bottom: 20px;
}
.content {
	margin-left: 50px;
	font-size: 20px;
}
.comment {
	margin-left: 70px;
	margin-right: 70px;
}
.notice_info {
	display: inline-block;
	margin-left: 10px;
}

.notice_btn {
	display: inline-block;
	float: right;
	margin-left: 50px;
	margin-top: 25px;
	margin-right: 60px;
}

.notice_btn > * {
	background-color: white;
	color: gray;
}

.notice_btn *:hover {
	color: rgb(0, 154, 211);
}

.comment_btn {
	display: inline-block;
	float: right;
}

.comment_btn > * {
	background-color: white;
	color: gray;
}

.comment_btn *:hover {
	color: rgb(0, 154, 211);
}

.comment-write {
	float: left;
	width: 95%;
}
.submit {
	float: right;
	padding: 3px;
	width: 5%;
	color: white;
	background-color: rgb(92, 187, 230);
}
.comment > div > *{
  display: inline-block;
}

.file {
	display: block;
	text-align: right;
}