.border {
  border: solid white;
	border-radius: 10px;
}
.container {
  border: solid white;
	border-radius: 10px;
  background-color: white;
}
.vote {
  float: left;
}
.vote-up-off, .vote-down-off, .vote-count, .star-off {
  display: block;
  height: 30px;
  min-width: 46px;
}
.vote-up-off, .vote-down-off, .star-off {
  background-image: url(../img/sprites.svg);
}
.vote-up-off {
  background-position: 0 -170px;
}
.vote-down-off {
  background-position: 0 -220px;
}
.pin-off {
  background-image: url("../img/pin-icon-off.png");
  height: 24px;
  width: 24px;
  display: inline-block;
  overflow: hidden;
  margin-left: 7px;
}

.pin-on {
  background-image: url("../img/pin-icon-on.png");
  height: 24px;
  width: 24px;
  display: inline-block;
  overflow: hidden;
  margin-left: 7px;
}
.star-off {
  background-position: 0 -120px;
}

.star-on {
  background-position: -40px -120px;
}

.question, .answer {
  overflow: hidden;
  width: 95%;
  margin: auto;
}

.comment {
  width: 95%;
  margin: auto;
}
#question_title {
  font-weight: normal;
  display: inline-block;
}

.question_info {
  display: inline-block;
  margin-left: 5px;
}
h2 {
  font-weight: 400;
}
.overflow {
  overflow: hidden;
}

.question_btn {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.question_btn > * {
  background-color: white;
  color: gray;
}

.question_btn *:hover {
  color: rgb(0, 154, 211);
}

.answer_btn {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

#answer_title {
  display: inline-block;
}

.answer_info {
  display: inline-block;
  margin-left: 5px;
}

.answer_btn > * {
  background-color: white;
  color: gray;

}

.answer_btn *:hover {
  color: rgb(0, 154, 211);
}

.write-answer {
  margin: auto;
  margin-bottom: 50px;
  width: 95%;
}

.comment > div > *{
  display: inline-block;
}

.comment_btn {
  float: right;
}

.comment_btn > *{
  background-color: white;
  color: gray;
}

.comment-write {
  width: 95%;
  margin: 0px;
}

.commentBtn {
  background-color: #5bc0de;
  color: white;
  border-radius: 5px;
  border: 2px solid #5bc0de;
  width: 5%;
  margin: 0px;
  float: right;
  height: 28px;
  line-height: initial;
}