.border {
  border: solid white;
	border-radius: 10px;
}
.container {
  border: solid white;
	border-radius: 10px;
  background-color: white;
}
.vote {
  float: left;
}
.vote-up-off, .vote-down-off, .vote-count, .star-off {
  display: block;
  height: 30px;
  min-width: 46px;
}
.vote-up-off, .vote-down-off, .star-off {
  background-image: url(../img/sprites.svg);
}
.vote-up-off {
  background-position: 0 -170px;
}
.vote-down-off {
  background-position: 0 -220px;
}
.star-off {
  background-position: 0 -120px;
}

.star-on {
  background-position: -40px -120px;
}

.question, .answer {
  overflow: hidden;
}
#question_title {
  font-weight: normal;
}
h2 {
  font-weight: 400;
}
.overflow {
  overflow: hidden;
}
.write-answer {
  margin-bottom: 300px;
}
