.border {
  border: solid white;
	border-radius: 10px;
}
.container {
  border: solid white;
	border-radius: 10px;
  background-color: white;
}
.vote {
  float: left;
}
.vote-up-off, .vote-down-off, .vote-count, .star-off {
  display: block;
  height: 30px;
  min-width: 46px;
}
.vote-up-off, .vote-down-off, .star-off {
  background-image: url(../img/sprites.svg);
}
.vote-up-off {
  background-position: 0 -170px;
}
.vote-down-off {
  background-position: 0 -220px;
}
.star-off {
  background-position: 0 -120px;
}

.star-on {
  background-position: -40px -120px;
}

.question, .answer {
  overflow: hidden;
}
#question_title {
  font-weight: normal;
  display: inline-block;
}
h2 {
  font-weight: 400;
}
.overflow {
  overflow: hidden;
}

.question_btn {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

.question_btn > * {
  background-color: white;
  color: gray;
}

.question_btn *:hover {
  color: rgb(0, 154, 211);
}

.answer_btn {
  display: inline-block;
  float: right;
  margin-top: 30px;
}

#answer_title {
  display: inline-block;
}

.answer_btn > * {
  background-color: white;
  color: gray;
}

.answer_btn *:hover {
  color: rgb(0, 154, 211);
}

.write-answer {
  margin-bottom: 300px;
}

